.navbar-default {
    position: relative;
}

.nav-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666;
    font-size: 16px;
    display: none;
}

.nav-menu:hover {
    color: #333;
}
.navbar-brand {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
    width: 50px;
}

.list-group-item, img {
    border-radius: 3px;
}

.side-bar .list-group-item {
    border: none;
    margin-bottom: 5px;
}

.side-bar .list-group-item.active {
    background: #ea0b3c;
}

.news-list-item
{
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
}

.news-list-item:first-child
{
    padding-top: 0;
}

.news-list-item img {
    display: block;
    max-width: 100%;
}

.news-list-item .title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444444;
    line-height: 1.5;
}

.news-list-item .title:hover
{
    text-decoration: none;
    color:#ea0b3c;
}

.news-list-item .info {
    color: #888;
}

.news-list-item .avatar {
    display: inline-block;
}

.avatar img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.side-bar-card {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding: 10px 0;
}

.side-bar-card.flag {
    padding: 20px 0;
}

.side-bar-card.flag img {
    width: 100px;
    height: 100px;
    max-width: 100%;
}

.side-bar-card .text-lg {
    font-size: 120%;
}

.side-bar-card .list-item {
    color: #5e5e5e;
}

.side-bar-card .card-title {
    font-size: 18px;
    font-weight: bold;
    padding: 0 15px;
}

.side-bar-card .card-title,
.side-bar-card .card-body .list-item {
    display: block;
    padding: 10px 15px;
}

.side-bar-card .list-item:hover {
    text-decoration: none;
    color: #444444;
    background: rgba(0, 0, 0, 0.05);
}

.side-bar-card .list-item .item-info {
    margin-top: 5px;
    color: #999;
}

.container-small {
    max-width: 500px;
}

.btn-primary {
    background-color: #ea0c3c;
    border-color: #ea0c3c;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #d00e38;
    border-color: #d00e38;
}

a:hover {
    text-decoration: none;
}

#toggle-menu:checked ~ div {
    display: block !important;
}